.vermelho{
    color: #ff0000;
}

.verde{
    color: #00ff00;
}



table#jogo_da_velha {
    background-color: #000000;
    margin: 20px;
    color: rgb(248, 4, 4);
    font-size: 112px;
    font-family: arial;
}

table#jogo_da_velha tr td {
    width: 140px;
    height: 140px;
    border: 4px rgb(45, 45, 245) solid;
}

table#jogo_da_velha tr td:hover{
    background-color: rgb(162, 0, 255);
    cursor: pointer;
}

table#jogo_da_velha tr td div{
    display: flex;
    justify-content: center;
    align-items: center;
}

table#jogo_da_velha tr.placar td{
    border: 0 !important; 
    background-color: rgb(136, 134, 134);
    color: rgb(12, 11, 11);
    text-align: center;
}

#separador{
    font-size: 58px;
    color: rgb(45, 45, 245) !important;
}


#linha1coluna1 {
    border-top: 0px !important;
    border-left:0px !important;
}
#linha1coluna2 {
    border-top: 0px !important;
}
#linha1coluna3{
    border-top: 0px !important;
    border-right: 0px !important;
}
#linha2coluna1{
    border-left: 0px !important;
}


#linha2coluna3{
    border-right: 0px !important;

}
#linha3coluna1{
    border-left: 0px!important;
    border-bottom: 0px!important;
}
#linha3coluna2{
    border-bottom: 0 !important;
}
#linha3coluna3{
    border-right: 0 !important;
    border-bottom: 0px !important;
}